input {
    padding: 0px;
    width: 100%;
    max-width: 300px;
    // border: 1px solid #ddd;
    border-radius: 4px;
  }

  .search-box{
    width: 100%;
    max-width: 300px;
  }
  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    color: #3f51b5;
    /* background-color: #000; */
}

  