<mat-sidenav-container class="sidenav-container">
    <!-- Main Content Area -->
    <mat-sidenav-content>
      <!-- Top Toolbar -->
      <mat-toolbar color="primary">
        <!-- <span>Lobby</span> -->
        <div class="logo-holder logo-4">
          <a href="">
            <h3>Lobby</h3>
            <!-- <p>User Search</p> -->
          </a>
        </div>
      </mat-toolbar>
  
      <!-- Page Content -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
